

<div class="list-group">


  <div class="list-group-item" 
      
      (click)="select(playlist)"
      [class.active]=" selected?.id == playlist.id"

      *ngFor=" let playlist of playlists; index as i">
   <p> {{i+1}}. {{playlist.name}}</p>
  </div>

</div>