<form #formRef="ngForm" (ngSubmit)="formSubmitted(formRef.value)">
  <!-- <p>playlist-form works!</p> -->

  <pre>{{ playlist | json }}</pre>
  <pre>{{ formRef.value | json }}</pre>

  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" #nameRef="ngModel" [ngModel]="playlist.name" name="name">

    <p> {{nameRef.value?.length}} / 170</p>
  </div>

  <div class="form-group">
    <label>Public </label>
    <input type="checkbox" [ngModel]="playlist.public" name="public">
  </div>

  <div class="form-group">
    <label>Description: </label>
    <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
  </div>


  <button class="btn btn-danger" (click)="cancelClicked()">Cancel</button>
  <button class="btn btn-success" type="submit">Save</button>

</form>