<!-- .row>.col*2 -->
<div class="row">
  <div class="col">

    <app-playlists-list [items]="playlists" 
                        [selected]="selected"
                        (selectedChange)=" switchPlaylist($event)">
    </app-playlists-list>

  </div>
  <div class="col">
    <!-- {{selected?.name}} -->

    <p *ngIf="!selected">Please select playlist</p>
    
    <div [ngSwitch]="mode" *ngIf="selected">
      
      <div *ngSwitchDefault>
        <app-playlist-details 
          [playlist]="selected" 
          (edit)="switchToForm()"></app-playlist-details>
      </div>

      <div *ngSwitchCase="'form'">
        <app-playlist-form   #formRef
          [playlist]="selected"
          (cancel)="switchToDetails()" 
          (save)="savePlaylist($event)"></app-playlist-form>
      </div>
    </div>

  </div>
</div>


<!-- <ng-template #detailsRef>
  <app-playlist-details></app-playlist-details>
  <button class="btn btn-info" (click)="switchToForm()">Edit</button>
</ng-template>

<ng-template #formRef>
  <app-playlist-form></app-playlist-form>
  <button class="btn btn-danger" (click)="switchToDetails()">Cancel</button>
  <button class="btn btn-success" (click)="savePlaylist()">Save</button>
</ng-template> -->