<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active pacnakes" routerLink="/">Navbar</a>

    <button class="navbar-toggler" type="button" (click)="navOpen = !navOpen">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="navOpen">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active pacnakes" routerLink="/music">Search</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active pacnakes" [routerLink]="['/','playlists']">Playlists</a>
        </li>
      </ul>

      <div class="ml-auto text-white">
        <p>Welcome, {{user.name}}</p>
      </div>
    </div>
  </div>
</nav>



<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>