<!-- <p>playlist-details works!</p> -->

<!-- dl>(dt{Name:}+dd{Playlist ABC})*3 -->

<dl [id]=" 'playlist_'+playlist.id" [attr.data-playlist-id]="playlist.id">

  <dt>Name:</dt>
  <!-- <dd [style.font-size]="20 +'px'">{{playlist.name}}</dd> -->
  <!-- <dd [style.font-size.%]="20">{{playlist.name}}</dd> -->
  <!-- <dd [style.font-size.px]="20 + 2">{{playlist.name}}</dd> -->
  <dd [ngStyle]="{ color:'dark'+'gray', 'font-size.px':20 }">
    {{playlist.name | titlecase}}
  </dd>

  <dt>Public:</dt>
  <!-- [class]="playlist.public? 'is-public-yes' : 'is-public-no'" -->
  <!-- <dd class="is-public"
   [class.is-public-yes]="playlist.public "
   [class.is-public-no]="!playlist.public ">
   {{playlist.public? 'Yes' : 'No'}}
  </dd> -->

  <dd class="is-public"
   [ngClass]="{
     'is-public-yes':playlist.public,
     'is-public-no':!playlist.public 
    }">
   <!-- {{playlist.public? 'Yes' : 'No'}} -->
   {{playlist.public | yesno | uppercase }}
  </dd>

  <dt>Description:</dt>
  <dd>{{playlist.description}}</dd>
</dl>

<button class="btn btn-info" (click)="editClicked()">Edit</button>