<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" [attr.aria-label]="'Search albums'" [(ngModel)]="query">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="searchClicked(query)">
      Search
    </button>
  </div>
</div>